@import url(style.css);

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(242, 192, 233, 0.965), rgba(138, 5, 114, 0.464));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1142px;
    height: 661px;
    margin: 10vh auto;
    display: flex;
    box-shadow: 0 0 25px  #831995;
    border-radius: 10px;
}

.sessao-imagem {
    width: 510px;
    height: 662px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-imagem img {
    border-radius: 10px 0 0 10px;

}

.sessao-login {
    height: 661px;
    width: 632px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-titulo {
    text-align: center;
}

.area-titulo h1,
span {
    font-size: 36px;
    padding-bottom: 5px;
}

.area-titulo h1 {
    color: #cc0e83;
    font-weight: 600;
}

.area-titulo h2 {
    font-size: 24px;
    color: #efffdd;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    width: 434px;
    gap: 3px;
}

form input {
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
}

#email {
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    padding: 12px;
    font-size: 18px;
    background-image: linear-gradient(to right, #cc0e83, #cc0e83);
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

form label {
    color: var(#831995);
    font-size: 18px;
    font-weight: 500;
}

.links-senha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-senha label {
    position: relative;
    right: 56px;
}

.links-senha label,
input,
a {
    color: #000000;
    font-weight: 400;
}

section a:hover {
    color: #000000;
    font-weight: 600;
}
    
#link-nao-conta {
    text-align: center;
}