@import url(style.css);
body{
     background-image: linear-gradient( rgba(242, 192, 233, 0.965),  rgba(138, 5, 114, 0.464));
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     

}
main{
        width: 1142px;
        height: 673px;
        border: 2px solid #ff009d;
        margin: 10vh auto;
        display: flex;
    }
.sessao-imagem{
    width: 522px;
    height: 673px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-login{
    height: 673px;
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-titulo{
    text-align: center;
}

.area-titulo h1, span{
    font-size: 36px;
    padding-bottom: 5px;
}

.area-titulo h1{
    color:#cc0e83;
    font-weight: 600;
}

.area-titulo h2{
    font-size: 24px;
    color:#efffdd;
    font-weight: 400;
}
form{
    display: flex;
    flex-direction: column;
    width: 434px;
    gap: 3px;
}
form input{
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 5px;
}
#email{
    margin-bottom: 15pxgit ;
}
button{
    padding: 12px;
    font-size: 18px;
}
.links-senha{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.links-senha label{
    position:relative;
    right: 60px;
    bottom: 3px;


}