@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Saira:ital,wdth,wght@0,125,100..900;1,125,100..900&display=swap');
body{
    margin: 0;  
   font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 125;
}

header {
    background-color: #642f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    max-width: 100%;
    height: 70px;
    padding: 0 100px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.menu{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    transition: 0.3s;
}

.menu:hover{
    color: #b36666;
    background-color: #dac0c0;
    border-radius: 5px;
     border: #642f2f;
    box-shadow:5px 5px 5px  #b36666;
    opacity: 70%;
}

section{
    text-align: center;
    padding: 40px 200px;
}
h1{
    margin-bottom: 10px;
}

p{
    margin-bottom: 30px;
}

#btn-ver-livros{

}
#nome-logo {
    margin-left: 40px;
}
